/* content editable */

*[contenteditable] {border-radius: 0.25em; min-width: 1em; outline: 0;cursor: pointer; min-height: 1em;}
*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover {background: #DEF; box-shadow: 0 0 1em 0.5em #DEF;}
span[contenteditable] {display: inline-block;}

/* heading */

h1 {font: bold 18px sans-serif; text-align: center; text-transform: uppercase;}

/* table */

table {table-layout: fixed; width: 100%;border-collapse: separate; border-spacing: 2px;font-size:13px;}
th, td {border-width: 1px; padding: 0.5em; position: relative; text-align: left;border-radius: 0.25em; border-style: solid;}
th {background: #EEE; border-color: #BBB;}
td {border-color: #DDD;}

/* page */

html {font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; background: #999; cursor: default;}

body {box-sizing: border-box; height: 11in; margin: 0 auto; overflow: hidden; padding: 0.6in; width: 8.5in;line-height: 12px; background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);}

/* header */

header {margin: 0 0 1em;}
header:after {clear: both; content: ""; display: table;}
header address {float: left; font-size: 14px; margin: 0 1em 1em 0;}
header span, header img {display: block; float: right;}
header span {margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative;}
header img {max-height: 100%; max-width: 100%;}

/* article */

article, article address, table.meta, table.inventory {margin: 0 0 2em;}
article:after {clear: both; content: ""; display: table;}
article h1 {clip: rect(0 0 0 0); position: absolute;}
address table {width:460px; line-height: 12px;font-style: normal;}
address table th {width:60px;}

article address {float: left;}

/* table meta & balance */

table.meta, table.balance {float: right; width: 200px;}
table.meta:after, table.balance:after {clear: both; content: ""; display: table;}

/* table meta */

/* table.meta th {width: 40%;} */
table.meta td {width: 40%;}

/* table items */

table.inventory {clear: both; width: 100%;}
table.inventory th {font-weight: bold; text-align: center;}
table.inventory th:first-child {width:65%}
table.inventory td:nth-child(1) {width: 26%;}
table.inventory td:nth-child(2) {width: 38%;}
table.inventory td:nth-child(3) {text-align: right; width: 12%;}
table.inventory td:nth-child(4) {text-align: right; width: 12%;}
table.inventory td:nth-child(5) {text-align: right; width: 12%;}

/* table balance */

table.balance th, table.balance td {width: 50%;}
table.balance td {text-align: right;}

/* aside */

aside h1 {border-width: 0 0 1px; margin: 0 0 1em;border-color: #999; border-bottom-style: solid;}

/* javascript */

.add, .cut
{
	border-width: 1px;
	display: block;
	font-size: .8rem;
	padding: 0.25em 0.5em;
	float: left;
	text-align: center;
	width: 0.6em;
	background: #9AF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
	background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
	border-radius: 0.5em;
	border-color: #0076A3;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
}

.add {margin: -2em 0 0;}
.add:hover {background: #00ADEE;}

.cut {position: relative; top: 0; margin-left: -32px;transition: opacity 100ms ease-in;}

tr:hover .cut {opacity: 1;}

.toolbar {
	float:left;
	position:fixed;
	top:30%;
	left:10px;
}

.invoice_option{
	margin-top:-14px;
}

.toolbar_clients {
	float:left;
}

.toolbar_logo {
	float:right;
}

@media print {
	{-webkit-print-color-adjust: exact;}
	html {background: none; padding: 0;}
	body {box-shadow: none; margin: 0;}
	span:empty,.toolbar {display: none;}
	.add, .cut,.toolbar_logo,.toolbar_clients,.toolbar,.invoice_option {display: none;}
}

@page {margin: 0.02cm;size: A4;}

.pointer,.table-hover tbody tr:hover td, .table-hover tbody tr:hover th,header input {
	cursor: pointer;
}

.table-bordered {
	border-spacing: 0;
	border:none;
}

.link-func {
	border-left:0px;
	width: 40px;
	text-align:center;
}

.link-func:hover {
	text-decoration:underline;
}
.modal .input-xxlarge {
	width:510px;
}

.help-block {
	margin-top: 4px;
}

.help-block ul {
	margin: 0 0 0 25px;
}